@import 'mixins';

//colors
$background-space:#121212;
$background-gray: rgb(46, 44, 44);

//fonts
$header-font: 'Mulish', sans-serif;
$body-font: 'Open Sans', sans-serif;

//font styles
.heading-main {
    font-family: $header-font;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.menu-header {
    font-family: $header-font;
    font-size: 2.8em;
    color: white;
}

.brand-big {
    font-family: $header-font;
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;
    color: white;
}

.brand-small {
    font-family: $header-font;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: italic;
    color: white;
}

.body-main {
    font-family: $body-font;
    font-size: 1em;
    font-weight: lighter;
    color: white;
}

.body-bold {
    font-family: $body-font;
    font-size: 1em;
    font-weight: bold;
    color: white;
}


//other reusable styles
.border {
    @include flex(column, center, center);
    padding: 5%;
    border: 1px solid white;
}

.left_text {
    text-align: left;
}

.right_text {
    text-align: right;
}

.display-none {
    display: none;
}

.photo-credit {
    position: absolute;
    bottom: 0%;
    font-size: .2em;
    & a {
        color: white;
    }
}