@import 'mixins';

.home {
    width: 100%;
    height: 80%;
    text-align: center;
    @include flex(column, space-evenly, center);
    &__menu {
        display: flex; 
        justify-content: space-around;
        width: 70%;
    }
    &__menu-item {
        width: 50vh;
        height: 50vh;
        background: $background-space;
        color: white;
        border-radius: 50%;
        border: 1px solid white;
        @include flex(row, center, center);
        cursor: pointer;
    }
    &__menu-issimg {
        &:hover {
            @include setImg('../assets/iss.jpg'); 
        }
    }
    &__menu-astroimg {
        &:hover {
            @include setImg('../assets/astro.jpg');
        }
    }
    & .profile__photo {
        border-radius: 50%;
    }
}