@import 'mixins';


.menu {
    &__list {
        width: 49.9vw;
        height: 50%;
        overflow: visible;
        @include flex-column-center;
    }
    &__drawer {
        @include flex-column-center;
        color: white;
        height: 100%;
        &__left {
            background-image: linear-gradient(to right,rgb(19, 18, 18), rgb(46, 44, 44));
            width: 80%;
        }
        &__right {
            background-image: linear-gradient(to left, rgb(19, 18, 18), rgb(46, 44, 44))
        }
        & a, p {
            color: white;
            text-decoration: none;
            padding: 1em 0 1em 0;
            border-bottom: 1px solid white;
            font-size: 2em;
            &:hover {
                font-weight: normal;
                cursor: pointer;
            }
        }
    }
    &__close-btn {
        @include black_bg_white_txt;
        position: absolute;
        height: 8vh;
        width: 8vh;
        left: -5%;
        bottom: 50%;
        border-radius: 50%;
        border-color: transparent;
    }
}


#menu-photo {
    width: 40%;
    height: auto;
    background-size: contain;
    border-radius: 40%;
    border: 1px solid white;
}