@mixin row-style {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    border-bottom: 1px solid gray;
    text-align: center;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: #{$direction};
    justify-content: #{$justify};
    align-items: #{$align};
}

@mixin setImg($imgUrl) {
    background-image: url($imgUrl);
    background-size: cover;
    background-repeat: no-repeat;
}