@import 'globals';
@import 'partials';
@import 'login';
@import 'profile';
@import 'astronauts';
@import 'iss';
@import 'menu';
@import 'mixins';

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
}

.left_text {
    text-align: left;
}

.right_text {
    text-align: right;
}

.display-none {
    display: none;
}